<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Custom/Functions.js"></script>

<textarea style="position: absolute; margin: 20px 0 0 700px" cols="30" rows="20"></textarea>

<form id="form">
    Pheromone Increment: <input type="text" id="pherInc" value="1" size="5"/><br/>
    Extra Pheromone Increment: <input type="text" id="extPherInc" value="2" size="5"/><br/>
    Number of Ants: <input type="text" id="nAnts" value="4" size="5"/><br/>
    No Updates Limit: <input type="text" id="noUpdLim" value="50" size="5"/><br/>
    Number of Iterations: <input type="text" id="nIter" value="100" size="5"/><br/>
    <input type="submit" value="Input"/>
</form>
<button id="matrix">Process</button>
    
<table id='table1'></table>
<table id='table2'></table>
<script type="text/javascript">

    $(document).ready(function() {
        $("#form").submit(function(event) {
                event.preventDefault();

                var input = {
                    PheromoneIncrement: $('#pherInc').val(),
                    ExtraPheromoneIncrement: $('#extPherInc').val(),
                    AntsNumber: $('#nAnts').val(),
                    NoUpdatesLimit: $('#noUpdLim').val(),
                    IterationsNumber: $('#nIter').val()
                };

                $.post('@Url.Action("InputMatrix", "Home")',
                { json: JSON.stringify(input) },
                function(data) {
                    createMatrices(data);
                }
            );
        });
    });


    $("#matrix").click(function() {
        var array = createArray();
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessMatrix", "Home")',
            traditional: true,
            data: { 'array': array },
            success: function(data) {
                $('textArea').text(data);
            },
            error: function(data) {
                alert(data);
            }
        });
    });
</script>

