<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.1.2.0" targetFramework="net45" />
  <package id="Abp.Application" version="0.1.2.0" targetFramework="net45" />
  <package id="Abp.Web" version="0.1.2.0" targetFramework="net45" />
  <package id="Abp.Web.Mvc" version="0.1.2.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net45" />
  <package id="Effort.EF6" version="1.1.4" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NMemory" version="1.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="PostSharp" version="4.1.23" targetFramework="net45" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.1.23" targetFramework="net45" />
  <package id="Shouldly" version="2.5.0" targetFramework="net45" />
  <package id="TestBase" version="3.0.2.0" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
</packages>